/* =========================
   ANIMACIÓN RESULTADO ALEATORIO
========================= */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.random-appear {
  animation: fadeIn 0.4s ease;
}

/* =========================
   MODO DE CAMPOS
========================= */

html:not(.dark) input,
html:not(.dark) select,
html:not(.dark) option {
  color: black;
  background-color: white;
}

html.dark input,
html.dark select,
html.dark option {
  color: white;
}